# Core requirements
streamlit==1.32.0
numpy==1.26.4
Pillow==10.2.0

# YOLOv11 requirements
torch==2.2.1
torchvision==0.17.1
mmengine>=0.10.3
mmcv>=2.1.0

opencv-python-headless

# Additional utilities
pyyaml==6.0.1
tqdm==4.66.2
ultralytics
